**/*.idea/
**/target
**.DS_Store
wasm/Cargo.lock
**/build
**.history-*
**.ledger-*
**.current-proposal-cache-*
**.logs-*
validator-*
**.bft-storage-*/
**proptest-regressions/
**package-lock.json
**node_modules/
