[package]
name = "snarkos"
version = "2.0.2"
authors = [ "The Aleo Team <hello@aleo.org>" ]
description = "A decentralized operating system"
homepage = "https://aleo.org"
repository = "https://github.com/AleoHQ/snarkOS"
keywords = [
  "aleo",
  "cryptography",
  "blockchain",
  "decentralized",
  "zero-knowledge"
]
categories = [ "cryptography", "operating-systems" ]
license = "GPL-3.0"
edition = "2021"

[workspace]
members = [ ".crawler", ".integration", ".synthetic_node", "environment", "metrics", "network", "rpc", "storage" ]

[lib]
path = "snarkos/lib.rs"

[[bin]]
name = "snarkos"
path = "snarkos/main.rs"
required-features = ["console"]

[features]
default = [ "console", "rpc" ]
console = [ "crossterm", "tui" ]
cuda = [ "snarkvm/cuda" ]
prometheus = [ "snarkos-metrics/prometheus", "snarkos-network/prometheus" ]
rpc = [ "snarkos-rpc" ]
task-metrics = [ "snarkos-environment/task-metrics" ]
test = [ "snarkos-metrics/test", "snarkos-network/test" ]

[dependencies.aleo-std]
version = "0.1.14"

[dependencies.anyhow]
version = "1"

[dependencies.colored]
version = "2.0"

[dependencies.crossterm]
version = "0.24"
optional = true

[dependencies.num_cpus]
version = "1"

[dependencies.rand]
version = "0.8"

[dependencies.rayon]
version = "1"

[dependencies.self_update]
version = "0.30"
features = [
  "archive-zip",
  "compression-zip-bzip2",
  "compression-zip-deflate",
  "compression-flate2"
]

[dependencies.snarkos-environment]
path = "./environment"
version = "2.0.2"

[dependencies.snarkos-metrics]
path = "./metrics"
version = "2.0.2"
optional = true

[dependencies.snarkos-network]
path = "./network"
version = "2.0.2"

[dependencies.snarkos-rpc]
path = "./rpc"
version = "2.0.2"
optional = true

[dependencies.snarkos-storage]
path = "./storage"
version = "2.0.2"

[dependencies.snarkvm]
version = "0.8.0"

[dependencies.clap]
version = "3.2"
features = [ "derive" ]

[dependencies.thiserror]
version = "1.0"

[dependencies.tokio]
version = "1"

[dependencies.tracing]
version = "0.1"

[dependencies.tracing-subscriber]
version = "0.3"
features = [ "env-filter", "parking_lot" ]

[dependencies.tui]
version = "0.18"
optional = true

[dev-dependencies.rusty-hook]
version = "0.11"

[dev-dependencies.snarkos]
path = "."
features = [ "test" ] # a workaround to use the `test` feature in tests by default

[build-dependencies.walkdir]
version = "2"

[profile.release]
opt-level = 3
lto = "thin"
incremental = true

[profile.bench]
opt-level = 3
debug = false
rpath = false
lto = "thin"
incremental = true
debug-assertions = false

[profile.dev]
opt-level = 3
lto = "thin"
incremental = true
debug-assertions = false

[profile.test]
opt-level = 3
lto = "thin"
incremental = true
debug = true
debug-assertions = true
