[Unit]
Description=Aleo Git Repo Watcher
After=NetworkManager.service
Wants=network-online.target

[Service]
Type=simple
User=root
Group=snarkos
WorkingDirectory=/home/snarkos/
Environment=
PATH=/home/ubuntu/.cargo/bin/
ExecStart=/bin/bash -c 'PATH=/home/ubuntu/.cargo/bin/:$PATH /home/snarkos/bin/git-repo-watcher -d "/home/snarkos/repos/snarkOS/"'
Restart=on-failure

[Install]
WantedBy=multi-user.target
